<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991642830049-si46dibtqpb9hnur1jaldd37vsnavfhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991642830049-si46dibtqpb9hnur1jaldd37vsnavfhq</string>
	<key>API_KEY</key>
	<string>AIzaSyCgChJ35eWncu_ViuLvyOpG9-9RolbKJcM</string>
	<key>GCM_SENDER_ID</key>
	<string>991642830049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PrivateRouter.PrivateMailApplication</string>
	<key>PROJECT_ID</key>
	<string>privatemail-aa417</string>
	<key>STORAGE_BUCKET</key>
	<string>privatemail-aa417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991642830049:ios:e6d4a853c12ad7436ee3a0</string>
	<key>DATABASE_URL</key>
	<string>https://privatemail-aa417.firebaseio.com</string>
</dict>
</plist>